<div class="container-fluid">
<h1>Groentewinkelketen de vrolijke konijntjes</h1>
<p>bestel nu, geleverd binnen het uur!</p>
<h2>Bestelformulier</h2>
<form #bestellijnForm="ngForm" novalidate>
    <div class="form-group">
    <span>Kies winkel: 
      <select (blur)="validateWinkel(winkel.value)" (change)="validateWinkel(winkel.value)" class="custom-select" [class.is-invalid]="winkelHasError && winkel.touched" [(ngModel)]="bestellijnModel.winkel" #winkel="ngModel" name="winkel">
        <!--<option value="null" class="selected">--Kies een winkel--</option>-->
        <option *ngFor="let winkel of winkels" title="{{winkel.adres}}, {{winkel.post}} {{winkel.gemeente}}" [ngValue]="winkel">{{winkel.naam}}</option>
      </select></span><br>
    </div>
    <div class="form-group">
    <span>Kies groente:
      <select (blur)="validateGroente(groente.value)" (change)="validateGroente(groente.value)" (change)="validateNumber(bestellijnForm.value.groente.stuk, aantal.value)" class="custom-select" [class.is-invalid]="groenteHasError && groente.touched" [(ngModel)]="bestellijnModel.groente" #groente="ngModel" name="groente">
        <!--<option value="null" class="selected">--Kies een groente--</option>-->
        <option *ngFor="let groente of groenten" [ngValue]="groente">{{groente.naam}} ({{groente.prijs}}/{{groente.stuk}})</option>
      </select></span><br>
    </div>
    <div class="form-group">
      <span>Aantal/gewicht(stuk)<input type="number" name="aantal" (blur)="validateNumber(bestellijnForm.value.groente.stuk, aantal.value)" (change)="validateNumber(bestellijnForm.value.groente.stuk, aantal.value)" [(ngModel)]="bestellijnModel.aantal" #aantal="ngModel" name="aantal" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"></span>
      <small class="text-danger" [class.d-none]="!numberHasError || aantal.pristine || bestellijnForm.value.groente == null || bestellijnForm.value.groente =='null'">Decimalen enkel bij kg aub!</small>
    </div>
      <button [disabled]="!bestellijnForm.form.valid || winkelHasError || groenteHasError || numberHasError" class="btn btn-primary" (click)="updateWinkelmandje()">Bestel</button>
</form>
</div>
<app-winkelmandje [winkelmandje]="winkelmandje" [totaal]="totaal"></app-winkelmandje>